@import 'hero.css';
@import 'sections.css';
@import 'linkded-pages.css';

#root {
  margin: 0 auto;
  text-align: center;
}
/* nav bar style --------------------------- */
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--background-color) ;
  box-shadow: 0px .5em .5em -.5em;
  z-index: 999;
  padding: .5rem 0;
}
/* first bar */
.bar1 {
  border-bottom: 1px solid;
}
.bar1 p {
  max-width: 1000px;
  padding: .5rem;
  display: flex;
  margin: 0 auto;
  gap: 10px;
  font-size: 12px;
}
.bar1 a {
  text-decoration: none;
  color: inherit;
}
/* second bar */
.bar2 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 0 auto;
  max-width: 1000px;
}
.bar2 .bar2-left {
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 5em;
  padding: .5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 .1em var(--color-scheme));
}
.menu-btn {
  margin-right: 1em;
  border: transparent;
  border-radius: var(--raduis);
  display: none;
  padding: var(--s-gap);
  align-items: center;
  align-self: center;
  cursor: pointer;
  background: var(--background-color);
}
.menu-btn:hover, .menu-btn:focus {
  transition: all 200ms;
  box-shadow: inset 0 0 .4rem var(--accent);
}
/* first ul in the bar2 */
.menu {
  justify-self: end;
  align-self: center;
  display: flex;
  padding: 0;
  gap: var(--l-gap);
}
.link-container {
  --under-line: transparent;
  padding: 0;
  position: relative;
  align-self: end;
  transition: all 1s;
}
.menu-link {
  border-bottom: 3px solid;
  display: flex;
  border-color: var(--under-line);
  transition: all 300ms;
}
/* li has ul as nested menu */
.nested-menu {
  display: none;
  opacity: 0;
  position: absolute;
  flex-direction: column;
  padding: 0;
  top: calc(100% - 1px);
  width: 150px;
  background: var(--background-color);
  border-color: var(--under-line);
  font-size: 13px;
}
.nested-menu .link-container {
  align-self: start;
  width: 100%;
}
.nested-menu .menu-link {
  padding: var(--s-gap);
}
.bar2 .link-container:hover, .bar2 .link-container:focus {
  --under-line : var(--accent)
}
.link-container:hover .nested-menu, .link-container:focus .nested-menu {
  display: flex;
  transition: opacity 2s, display 2s;
  opacity: 1;
  flex-direction: column;
  gap: var(--s-gap);
}

/* footer style */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: var(--l-gap);
  gap: 1rem;
  font-size: .9em;
}
.footer h2 {
  font-size: 1.6em;
  position: relative;
  cursor: pointer;
}
.footer .column h2::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 3px;
  background: var(--accent);
  left: 0;
  bottom: 0;
  transition: width 300ms;
}

/* footer style */
.footer .column>h2:hover::before {
  width: 40%;
}
.footer ul {
  padding: 0;
  margin: 0;
}
.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: .5rem;
  gap: .5rem;
}
.copy {
  grid-column: 1 / -1;
  border-top: 1px solid;
  padding-top: 1rem;
  font-size: .8em;
  border-color: var(--accent);
}

/* breakPoints----------------------------------- */

@media screen and (width< 1000px) {
  .nav-bar {
    box-shadow: none;
  }
  .bar2 {
    grid-template-columns: auto;
  }
  .menu-btn {
    display: flex;
    fill: var(--accent);
    filter: drop-shadow(0 0 .3rem var(--accent));
  }
  .menu {
    justify-self: start;
    display: block;
    margin-top: 0;
    background: var(--background-color);
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 100%;
    transform: translateY(-400%);
    transition: transform 1s;
  }
  .menu-link {
    padding: 1rem;
    border-bottom: none;
  }
  .nested-menu {
    position: relative;
    margin-left: 1.5rem;
    min-width: 100%;
    border: none;
    
  }
  .nested-menu::before {
    content: "";
    position: absolute;
    left: -3px;
    bottom: 15px;
    width: 2px;
    height: 100%;
    background: var(--accent);
  }
  .nested-menu .link-container::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 2px;
    background: var(--accent);
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
  }
  .grap-down {
    transition: transform 1s;
    transform: translateY(0);
  }
  .hero .btn {
    transform: translateY(-120%);
  }
  .media-container {
    width: 100%;
    
  }
  .slides {
    width: 100%;
    height: 100%;
  }
  .slide {
    flex-direction: column;
    
  }
  .col {
    margin-inline: 0;
    /* padding: 0; */
  }
  .col.logo {
    width: 100%;
  }
  .slide:nth-child(even) {
    flex-direction:column;
  }
  .sec-title {
    font-size: 1.5em;
  }
  .sec-title::after, .sec-title::before {
    width: 30%;
    height: 10px;
  }
  .services {
    grid-template-columns: 1fr;
  }
  .service {
    grid-template-columns: 1fr;
  }
  .products-content {
    grid-template-columns: 1fr;
  }

  .product-card:nth-child(2) {
    border-bottom: 1px solid;
    border-top: 1px solid ;
    border-left: none;
    border-right: none;
  }
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    
  }
}
