/* hero section style ----------------------------------- */
.hero {
  position: fixed;
  width: 100%;
  height: calc(100svh - var(--hero-margin));
  isolation: isolate;
  z-index: -1;
  top: var(--hero-margin);
  left: 0;
  background-image: conic-gradient(from 50deg at 50% 50%, rgba(255, 102, 0, .9) 29%, rgba(255, 166, 0, .9) 6%, var(--accent) 65%);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(5px);
}
.hero .btn {
  position: absolute;
  height: 50px;
  opacity: .5;
  background: transparent;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: opacity 300ms;
  cursor: pointer;
  outline: 1px solid;
}
.hero .right {
  right: 20px;
  z-index: 1;
}
.hero .left {
  left: 20px;
  z-index: 2;
}
.hero .btn:hover, .hero .btn:focus {
  opacity: 1;
}
/* animated squers */
.media-container {
  position: absolute;
  display: grid;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  z-index: -1;
  perspective: 600px;
  outline: 15px solid darkcyan;
}
.media-container span {
  display: block;
  background: var(--hero-background);
  box-shadow: var(--box-shadow);
  animation: press 2s infinite alternate;
  transform: rotate(4deg);
}
@keyframes press {
  to {
    transform:translate3d(0px,0px,-5px);
  }
}
/*carousel style*/
.carousel {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-inline: auto;
}
.slides {
  height: 100%;
  display: flex;
  transition: transform 0.5s;
}
.slide {
  flex-shrink: 0;
  flex-basis: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  color: aliceblue;
  transition: transform 0.5s;
  align-items: center;
}
.slide .col {
  margin-inline: auto;
}
.slide .col.content{
  grid-row: 2 / -1;
  display: inherit;
  align-items: center;
  grid-template-rows: auto;
  padding-inline: var(--l-gap);
  width: 100%;
  min-height: 100%;
  background:conic-gradient(from 50deg at 50% 50%, var(--accent) 29%,  rgba(255, 166, 0, .9) 9%,rgba(255, 102, 0, .9) 65%);
}
.slide:first-child, .slide:nth-child(2){
  --t-d: -100%;
  animation: translate .5s ;
}
.slide.animi .content .slideh2, .slide.animi .content .slide-paragraph {
  transform: rotateX(0deg);
}
@keyframes translate {
  from {
    transform: translateX(var(--t-d));
  } to {
    transform: translateX(0);
  }
}
.slide .slideh2 {
  font-size: 1.7rem;
  perspective: 400px;
  transform: rotateX(90deg);
  transition: transform 2s;
}
.slide-paragraph {
  width: 100%;
  transform: rotateX(90deg);
  transition: transform 2s;
  padding-inline: var(--l-gap);
  align-self: baseline;
}
.slide-thumbnail {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* map style */

.slide[name=MapSlide] .slide-thumbnail .point {
  position: absolute;
  display: grid;
  width:3%;
  background: none;
  top: 0;
  left: 50%;
  scale: 1.5;
}
/* alex */
.slide[name=MapSlide] .slide-thumbnail .point:nth-child(2) {
  transform: translate(70%,200%);
}
/* domyat */
.slide[name=MapSlide] .slide-thumbnail .point:nth-child(3) {
  transform: translate(180%,200%);
}
/* musrata */
.slide[name=MapSlide]  .point:nth-child(4) {
  transform: translate(-200%,200%);
}
/* elkhoums */
.slide[name=MapSlide] .point:nth-child(5) {
  transform: translate(-150%,210%);
}
/* suez */
.slide[name = MapSlide] .point:nth-child(6) {
  transform: translate(210%,230%);
}
/* taba */
.slide[name = MapSlide] .point:nth-child(7) {
  transform: translate(270%,230%);
}
/* adabia */
.slide[name = MapSlide] .point:nth-child(8) {
  transform: translate(220%,250%);
}
/* safaga */
.slide[name = MapSlide] .point:nth-child(9) {
  transform: translate(250%,300%);
}
/* hurghada */
.slide[name = MapSlide] .point:nth-child(10) {
  transform: translate(270%,330%);
}
/* sudan */
.slide[name = MapSlide] .point:nth-child(11) {
  transform: translate(330%,430%);
}
/* tripoli */
.slide[name = MapSlide] .point:nth-child(12) {
  transform: translate(300%,130%);
}
/* breackpoints------------------------------------------- */
@media screen and (width >= 1366px) { 
  
}
@media screen and (width <= 1280px) { 
  
}
@media screen and (width <= 920px) { 
  .carousel {
    width:100%
  }
  .slide {
    padding-inline: var(--s-gap);
  }
  .slide .col {
    width: 100%;
  }
}
@media screen and (width <= 768px) { 
  
}
@media screen and (width <= 640px) { 

}