@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&family=Outfit:wght@400;700&display=swap');

:root {
  --transparency-50: .5;
  --transparency-75: .75;
  --transparency-25: .25;
  --transparency-1: 1;
  --color-scheme:#ffd945;
  --logo-blue: #044281;
  --middle-blue: hsl(210, 95%, 15%, .9);
  --mate-blue: hsl(208, 37%, 20%, .9);
  --dark-blue: #000d9a;
  --accent: hsl(209, 93%, 27%, .9);

  --hero-background: hsl(240, 100%, 6%, var(--transparency-1));
  --color: hsl(0 ,100% ,100% , var(--transparency-75));
  --background-color: hsl(0, 0%, 14%, var(--transparency-1));
/* global vars */
  --box-shadow: 0em 0em .5em var(--accent);
  --s-gap: .375em;
  --m-gap: .75em;
  --l-gap: 1em;
  --xl-gap: 1.75em;
  --raduis: .375em;
  --hero-margin : var(--offset-top, 6.25em);
  --max-width: 75em;
  /* theme settings */
  /* color-scheme: light dark; */
  color: var(--color);
  background-color: var(--background-color);
  font-family: 'Hanken Grotesk',
              Inter, Avenir, 
              Helvetica, Arial, 
              sans-serif, system-ui, 
              -apple-system, BlinkMacSystemFont, 
              'Segoe UI', Roboto, 
              Oxygen, Ubuntu, 
              Cantarell, 'Open Sans', 'Helvetica Neue';
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  scroll-behavior: smooth;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
header {
  position: relative;
  width: 100%;
  top: 0;
}
hr {
  margin: 0;
  color: var(--accent);
  height: 1px;
}
main {
  position: relative;
  background: var(--background-color);
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--accent);
}
footer {
  background: var(--background-color);
  
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-top: var(--hero-margin);
  max-width: var(--max-width);
  margin: var(--l-gap) auto;
}
.isactive {
  --under-line : var(--accent)
}
.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}
.clear {
  clear: both;
}
.before::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: var(--accent);
  left: 0;
  top: 0;
  transition: width 500ms;
  z-index: -1;
}
.before:hover {
  color: aliceblue;
}
.before:hover::before {
  width: 100%;
}
@media (prefers-color-scheme: light ) {
  :root {
    --color: hsl(0, 0%, 10%);
    --background-color: hsl(0, 0%, 100%);
  }
  
  
} 
