@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&family=Outfit:wght@400;700&display=swap');

:root {
  --transparency-50: .5;
  --transparency-75: .75;
  --transparency-25: .25;
  --transparency-1: 1;
  --color-scheme:#ffd945;
  --logo-blue: #044281;
  --middle-blue: hsl(210, 95%, 15%, .9);
  --mate-blue: hsl(208, 37%, 20%, .9);
  --accent: hsl(209, 93%, 27%, .9);

  --hero-background: hsl(240, 100%, 6%, var(--transparency-1));
  
  --color: hsl(0 ,100% ,100% );
  --background-color: hsl(0, 0%, 14%, var(--transparency-1));
/* global vars */
  --box-shadow: 0rem 0rem .5rem var(--accent);
  --s-gap: .375rem;
  --m-gap: .75rem;
  --l-gap: 1rem;
  --xl-gap: 1.75rem;
  --raduis: .375rem;
  --hero-margin : var(--offset-top, 6.25rem);
  --max-width: 1200px;
  /* theme settings */
  --theme-moves: 0em;
  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);
  font-family: system-ui,
              Inter, Avenir, 
              Helvetica, Arial, 
              sans-serif,  
              -apple-system, BlinkMacSystemFont, 
              'Segoe UI', Roboto, 
              Oxygen, Ubuntu, 
              Cantarell, 'Open Sans', 'Helvetica Neue';
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  scroll-behavior: smooth;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body,h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
header {
  position: relative;
}
hr {
  margin: 0;
  color: var(--accent);
  opacity: .5;
}
main {
  position: relative;
  background: var(--background-color);
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--accent);
}
footer {
  background: var(--background-color);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img, svg {
  max-width: 100%;
  display: block;
}
.container {
  padding-top: var(--hero-margin);
  max-width: var(--max-width);
  margin-inline: auto;
}
.isactive {
  --under-line : var(--accent)
}
.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}
.clear {
  clear: both;
}
.before::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: var(--accent);
  left: 0;
  top: 0;
  transition: width 500ms;
  z-index: -1;
}
.before:hover {
  color: aliceblue;
}
.before:hover::before {
  width: 100%;
}
@media (prefers-color-scheme: light ) {
  :root {
    --color: hsl(0, 0%, 10%);
    --background-color: hsl(0, 0%, 100%);
  }
  
} 
/* standred breackpoints 375-600-768-1280-1366-1920 */
@media screen and (width >= 1366px) { 
  :root {
      --max-width: 1200px;
    }
}
@media screen and (width <= 1280px) { 
  :root {
      --max-width: 1080px;
    }
}
@media screen and (width <= 920px) { 
  :root {
      --max-width: 920px;
    }
}
@media screen and (width <= 768px) { 
  :root {
      --max-width: 100%;
    }
}
@media screen and (width <= 640px) { 

}



