/* styling the link page */
.one-item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.one-item-container .col2 {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--l-gap);
}
.one-item-container .col2 p {
  padding-left: var(--l-gap);
}
.one-item-container .col2 ul li{
  position: relative;
  isolation: isolate;
  margin-top: var(--s-gap);
  margin-left: var(--xl-gap);
}
.one-item-container .col2 ul  li::before {
  content: "";
  font-size: .8em;
  position: absolute;
  border-radius: 30% 70% 70% 30% / 30% 25% 75% 70% ;
  width: 15px;
  height: 15px;
  background: var(--accent);
  margin-right: var(--s-gap);
  left: -20px;
  top: 30%;
}
.item-links {
  display: flex;
  gap: var(--s-gap);
  
}
.item-links a {
  position: relative;
  flex: 1 0 0;
  text-align: center;
  justify-content: center;
  isolation: isolate;
  padding: var(--m-gap);
  font-size: .9rem;
}

.one-item-container .imgs-container {
  --children: 8;
}
.imgs-container .core {
  aspect-ratio: 1;
  position: relative;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgs-container .thumbnail {
  opacity: 1;
  box-shadow: inset var(--box-shadow);
}
.imgs-container img {
  --size: 20%;
  width: var(--size);
  position: absolute;
  border-radius: 25%;
  box-shadow: inset var(--box-shadow);
  padding: var(--m-gap);
  
}
.imgs-container img:not(.thumbnail) {
  opacity: 0;
}
.imgs-container img:nth-child(2) {
  opacity: 1;
  transform: translate(calc(sin(calc(2 * 360deg / var(--children))) * 145% ),
                        calc(cos(calc(2 * 360deg / var(--children))) * 145% ));
}
.imgs-container img:nth-child(3) {
  opacity: 1;
  transform: translate(calc(sin(calc(3 * 360deg / var(--children))) * 145% ),
                        calc(cos(calc(3 * 360deg / var(--children))) * 145% ));
}
.imgs-container img:nth-child(4) {
  opacity: 1;
  transform: translate(calc(sin(calc(4 * 360deg / var(--children))) * 145% ),
                        calc(cos(calc(4 * 360deg / var(--children))) * 145% ));
}
.imgs-container img:nth-child(5) {
  opacity: 1;
  transform: translate(calc(sin(calc(5 * 360deg / var(--children))) * 145% ),
                        calc(cos(calc(5 * 360deg / var(--children))) * 145% ));
}
.imgs-container img:nth-child(6) {
  opacity: 1;
  transform: translate(calc(sin(calc(6 * 360deg / var(--children))) * 145% ),
                        calc(cos(calc(6 * 360deg / var(--children))) * 145% ));
}
.imgs-container img:nth-child(7) {
  opacity: 1;
  transform: translate(calc(sin(calc(7 * 360deg / var(--children))) * 145% ),
                        calc(cos(calc(7 * 360deg / var(--children))) * 145% ));
}
.imgs-container img:nth-child(8) {
  opacity: 1;
  transform: translate(calc(sin(calc(8 * 360deg / var(--children))) * 145% ),
                        calc(cos(calc(8 * 360deg / var(--children))) * 145% ));
}
.imgs-container img:nth-child(9) {
  opacity: 1;
  transform: translate(calc(sin(calc(9 * 360deg / var(--children))) * 145% ),
                        calc(cos(calc(9 * 360deg / var(--children))) * 145% ));
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }100% {
    transform: rotate(360deg);
    
  }
}
/* styling projects page */
.projects-filter {
  display: flex;
  justify-content: center;
  gap: var(--m-gap);
  padding-block: var(--l-gap);
}
.projects-filter .projects-filter-btn {
  padding: 1em;
  min-width: 100px;
  cursor: pointer;
  border: none;
  outline: transparent;
  border-radius: var(--raduis);
  transition: outline 500ms;
  font-weight: 600;
  letter-spacing: 1px;
}
.projects-filter .projects-filter-btn:hover , .projects-filter .projects-filter-btn:focus {
  outline: 1px solid;
}
.projects-filter .active {
  outline: 2px solid;
}
.projects-grid {
  padding-block: var(--xl-gap);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--l-gap);
  
}
.project-card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  outline: 1px solid;
  box-shadow: inset var(--box-shadow) ;
}
.card-thumbnail {
  aspect-ratio: 16 / 9;
  width: 100%;
}
.project-content {
  padding-inline: var(--m-gap);
}
.overlay {
  position: absolute;
  padding: var(--m-gap);
  inset: 0;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(80%) skew(-5deg, -5deg);
  transition: transform 500ms, background 500ms;
}
.overlay p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
}
.project-card:hover .overlay {
  transform: translateY(0);
  background: var(--accent);
  color: aliceblue;
}
.project-link {
  outline: 1px solid;
  text-align: center;
  padding: var(--m-gap);
}
/*  */

.project-page {
  display: flex;
  text-align: left;
  min-height: calc(100svh - var(--hero-margin));
}
.project-page-thumb {
  flex: 1 0 0;
  padding-top: var(--l-gap);
}
.pro-img {
  width: 100%;
}
.project-page-content {
  flex: 1 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--l-gap);
  padding: var(--l-gap);
}

/* breackpoints-------------------------------------------- */
@media screen and (width >= 1366px) { 
  
}
@media screen and (width <= 1280px) { 
  
}
@media screen and (width <= 920px) { 
  .one-item-container {
    grid-template-columns: 1fr;
  }
  .project-page-thumb {
    flex-basis: 100%;
  }
  .project-page {
    flex-direction: column;
  }
}
@media screen and (width <= 768px) { 
  
}
@media screen and (width <= 640px) { 

}