
.container#services {
  margin-top: 100svh ;
}
.sec-title {
  position: relative;
  padding-bottom: 2rem;
}
.sec-title::after, .sec-title::before {
  display: block;
  content: "";
  width: 40%;
  height: 15px;
  background: var(--accent);
  position: absolute;
  background: linear-gradient(to var(--direction, left), var(--accent), transparent);
  top: calc(50% - 1rem);
  transform: translateY(-50%);
}
.sec-title::before {
  right:0;
  --direction: right;
}
.services {
  display: grid;
  grid-gap: var(--l-gap);
  grid-template-columns: repeat(2, minmax(275px, 1fr));
  padding: .5rem;
}
.service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: inset var(--box-shadow);
  padding: var(--l-gap);
}
.service .description {
  grid-column: 2 / -1;
  padding: var(--l-gap);
  align-self:stretch;
}
.service-content h3 {
  align-self: center;
}
.service img{
  align-self: baseline;
  object-fit: cover;
}

/* products section style -------------------------------*/
.products-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(275px, 1fr));
  padding: 0 var(--l-gap) 2rem; 
}
.product-card {
  padding: var(--l-gap);
  float: right;
  cursor: pointer;
  display: grid;
  gap: var(--l-gap);
  position: relative;
  overflow: hidden;
  perspective: 300px;
  transform-origin: top left;
  isolation: isolate;
}
.product-card:nth-child(even) {
  border-left: 1px solid;
  border-right: 1px solid;
}
.product-card a {
  grid-column: 1 / -1;
  outline: 1px solid;
  position: relative;
  align-content: center;
  justify-self: center;
  padding: .5rem 1rem;
}
.product-card .product-img {
  height: 200px;
}
.product-card .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: top left;
  transition: all 1s;
}
.product-card:hover img {
  width: 30%;
  height: 30%;
}
.product-card .product-description {
  position: absolute;
  max-height: 80%;
  padding: var(--l-gap);
  inset: 0;
  transform: translate(100%,100%);
  text-align: justify;
  transition: transform 1s;
}
.shape {
  width: 30%;
  height: 32%;
  float: left;
  shape-margin: 1rem;

}
.product-card:hover .product-description {
  transform: translateX(0%);
  clear: left;
}
/* projects style */
#projects {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding-bottom: var(--m-gap);
}
.wrapper {
  --wrapper-height: 70svh;
  margin-bottom: var(--m-gap);
  position: relative;
  display: flex;
  gap: var(--m-gap);
  flex-direction: column;
}
/* grid col  */
.wrapper .wrap-col {
  display: flex;
  flex-direction: column;
}
/* the buttons container */
.btns-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: var(--wrapper-height);
  display: grid;
  grid-auto-flow: row;
  z-index: 1;
  justify-content: space-between;
}
.btns-wrapper .left {
  place-self: start;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 50%);
}
.btns-wrapper .right {
  place-self: end;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 50%);
}
.btns-wrapper .right, .btns-wrapper .left {
  font-size: 1.3em;
  padding: var(--m-gap);
  outline: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 500ms ease-in-out;
  filter:drop-shadow(inset var(--box-shadow)) ;
  color: aliceblue;
  background: var(--accent);
  max-height: 200px;
} 
/* the projects ul container */
.projects-list {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  height: var(--wrapper-height);
}
.project {
  background: var(--background-color);
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: transform 500ms ease-in-out;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0% 50%);
}
.project:not(:nth-child(1)) {
  transform: translateX(100%);
}
.project:last-child a {
  grid-column: 1 / -1;
  min-width: 50%;
  justify-content: center;
}
.project-thumbnail img {
  height: 100%;
}
.project-details {
  padding: var(--l-gap);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: var(--xl-gap);
}
.project-details p {
  justify-self: end;
  font-size: .8rem;
  padding: var(--xl-gap);
  box-shadow: var(--box-shadow);
}
.project-details a {
  place-self: center;
  box-shadow: var(--box-shadow);
  padding: var(--l-gap);
}
.projects-link {
padding: 1rem;
outline: 1px solid;
}
@keyframes move-right {
  to {
    transform: translateX(20px);
  }
}
.projects-page {
  border-radius:  85% 15% 91% 9% / 11% 81% 19% 89% ;
  padding: var(--l-gap);
}
/* styling the news section */
.news {
  --shadow: 0rem -10rem 7rem -5rem  var(--accent);
  --news-height: calc(90svh - var(--hero-margin));
}
.news-wrapper {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
  height: var(--news-height);
  transition: height 2s ;
}
.btn-wrapper {
  outline: 1px solid;
  /* color: black; */
}
.shadow {
  box-shadow: var(--shadow) inset;
}
.btn-exetend {
  padding-block: 1rem;
  font-size: 1em;
  background: transparent;
  color: var(--color);
  border: none;
  cursor: pointer;
  width: 100%;
}
.exetend {
  transition: height 2s ease;
}
.news-card:nth-child(2n)  {
  grid-column: 2 / -1;
}
.news-card {
  outline: 1px dashed;
  display: flex;
  gap: var(--l-gap);
  flex-direction: column;
  padding-bottom: var(--l-gap);
}
.thumbnail {
  padding-block: var(--xl-gap);
  padding: .5rem;
}
.thumbnail small {
  display: flex;
  justify-content: space-between;
  font-size: .7rem;
}

.news .content {
  padding-inline: var(--l-gap);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: var(--l-gap);
  font-size: .9em;
}
.news .content h3 {
  border-bottom: 1px solid;
}
/* clients section style */
.clients {
  padding-block: var(--l-gap);
  background-color: var(--background-color);
  overflow-x: hidden;
  display: flex;
  gap: var(--s-gap);
  position: relative;
  isolation: isolate;
  
}
.clients::after{
  right: 0;
}
.clients::before {
  left: 0;
  
}
.clients::after, .clients::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  box-shadow: 0rem 0rem 5rem 2rem var(--accent);
}
@keyframes marque {
  to {
    transform: translateX(-100%);
  }
}
.clients-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
  animation: marque 20s infinite linear;
  
}
.text-justify {
  text-align: justify;
}
.clients-content img {
  min-width: 70px;
  object-fit: cover;
  border-radius: 10%;
  filter: grayscale();
  
}
.clients-content img:hover, .clients-content img:focus {
  filter: none;
}

/* breackpoints--------------------------------- */
@media screen and (width >= 1366px) { 
  
}
@media screen and (width <= 1280px) { 
  
}
@media screen and (width <= 920px) { 
  
}
@media screen and (width <= 768px) { 
  .sec-title::after, .sec-title::before {
    display: none;
  }
  .products-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .project {
    clip-path: polygon(51% 0, 100% 10%, 100% 100%, 0 100%, 0 11%);
    grid-template-columns: 1fr;
    grid-auto-flow:row;
  }
  .project:not(:nth-child(1)) {
    transform: translateY(100%);
  }
  .project-details {
    gap:var(--s-gap);
  }
  .btns-wrapper {
    width: 100%;
    height: 40px;
    top:85%;
    writing-mode: vertical-lr;
  }
  
  .btns-wrapper .left {
    clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0 100%, 0 0);
  }
  .btns-wrapper .right {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 50%);
  }
}
@media screen and (width <= 640px) { 
  .services {
    grid-template-columns: 1fr;
  }
  .products-content {
    grid-template-columns: 1fr;
  }
  .product-card:nth-child(even) {
    border-left: none;
    border-right: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  .projects-link {
    margin-top: var(--l-gap);
    
  }
  .news-wrapper {
    display: block;
  }
  .news-card {
    padding: var(--m-gap);
  }
}
@media screen and (width <= 540px) {

  .service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
}