
.container#services {
  margin-top: 100svh ;
}
.sec-title {
  font-size: 2rem;
  position: relative;
  padding-bottom: 2rem;
}
.sec-title::after, .sec-title::before {
  display: block;
  content: "";
  width: 40%;
  height: 15px;
  background: var(--accent);
  position: absolute;
  background: linear-gradient(to var(--direction, left), var(--accent), transparent);
  top: calc(50% - 1rem);
  transform: translateY(-50%);
}
.sec-title::before {
  right:0;
  --direction: right;
}
.services {
  display: grid;
  grid-gap: var(--l-gap);
  grid-template-columns: repeat(2, minmax(275px, 1fr));
  padding: .5rem;
}
.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: inset var(--box-shadow);
  padding: var(--l-gap);
}
.service .description {
  padding: var(--l-gap);
  align-self:stretch;
  line-height:var(--xl-gap);
}
.service-content h3 {
  align-self: center;
}
.service img{
  align-self: baseline;
  width: 100%;
  padding: var(--m-gap);
  object-fit: cover;
}

/* products section style -------------------------------*/
.products-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(275px, 1fr));
  padding: 0 var(--l-gap) 2rem; 
  
}
.product-card {
  padding: var(--l-gap);
  float: right;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--l-gap);
  position: relative;
  overflow: hidden;
  perspective: 300px;
  transform-origin: top left;
  isolation: isolate;
}
.product-card:nth-child(even) {
  border-left: 1px solid;
  border-right: 1px solid;
}
.product-card a {
  grid-column: 1 / -1;
  outline: 1px solid;
  position: relative;
  align-content: center;
  justify-self: center;
  padding: .5rem 1rem;
  
}
.product-card a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: var(--accent);
  z-index: -1;
  transition: width 300ms;
}
.product-card a:hover  {
  color: hsl(0, 100%, 100%);
}
.product-card a:hover::after {
  width: 100%;
}
.product-card .product-img {
  height: 200px;
}
.product-card .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: top left;
  transition: all 1s;
}
.product-card:hover img {
  transform: translateX(-115%);
  width: 30%;
  height: 30%;
}
.product-card .product-description {
  position: absolute;
  max-height: 80%;
  padding: var(--l-gap);
  inset: 0;
  transform: translate(100%,100%);
  text-align: justify;
  transition: transform 1s;
}
.product-card .shape {
  width: 30%;
  height: 32%;
  float: left;
  shape-margin: 1rem;
}
.product-card:hover .product-description {
  transform: translateX(0%);
  clear: left;
}
/* projects style */
#projects {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  --wrapper-height: calc(100svh - var(--hero-margin));
}
.wrapper {
  margin-bottom: 2em;
  position: relative;
  height: var(--wrapper-height);
}
.btns-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: var(--wrapper-height);
  display: grid;
  grid-auto-flow: row;
  z-index: 1;
}

.btns-wrapper .left {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 50%);
}
.btns-wrapper .right {
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 50%);
}
.btns-wrapper .right, .btns-wrapper .left {
  font-size: 1.3em;
  padding: var(--m-gap);
  outline: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 500ms ease-in-out;
  filter:drop-shadow(inset var(--box-shadow)) ;
  color: aliceblue;
} 
.projects-list {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}
.project {
  background: var(--background-color);
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: transform 500ms ease-in-out;
  clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
}
.project:not(:nth-child(1)) {
  transform: translateX(100%);
}
.project:last-child a{
  grid-column: 1 / -1;
  min-width: 50%;
  justify-content: center;
}
.project-thumbnail {
  grid-column: 1/1;
}
.project-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-details {
  grid-column: 2/3;
  padding: var(--xl-gap);
  text-align: left;
  display: grid;
}
.project-details p {
  text-overflow: ellipsis;
  padding: var(--xl-gap);
  box-shadow: var(--box-shadow);
  border-radius:  85% 15% 91% 9% / 11% 81% 19% 89% ;
}
.project a {
  display: flex;
  /* justify-content: center; */
  align-self: center;
  justify-self: center;
  box-shadow: var(--box-shadow);
  border-radius:  85% 15% 91% 9% / 11% 81% 19% 89% ;
  padding: var(--l-gap);
}
.projects-link {
  padding-block: .5em;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  box-shadow: var(--box-shadow);
  border-radius:  85% 15% 91% 9% / 11% 81% 19% 89% ;
}
.projects-link:hover span {
  animation: move-right 1s infinite ;
}
@keyframes move-right {
  to {
    transform: translateX(20px);
  }
}
.projects-page {
  border-radius:  85% 15% 91% 9% / 11% 81% 19% 89% ;
  padding: var(--l-gap);
}
/* styling the news section */
.news-wrapper {
  outline: 2px solid;
  position: relative;
  isolation: isolate;
  padding: 1rem;
}
.news-slide {
  outline: 1px solid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* scale: .1; */
}
.news-slide .img {
  position: relative;
  overflow: hidden;
}
.news-slide .img  img {
  aspect-ratio: 1;
  width: 100%;
  object-fit: contain;
  /* border-radius: 80% 20% 80% 20% / 20% 80% 20% 80%  */
}

/* clients section style */
.clients {
  padding-block: 1rem;
  background-color: var(--background-color);
}
.clients-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
}
.clients-content img {
  width: 70px;
  object-fit: cover;
  border-radius: 10%;
  filter: grayscale();
}
.clients-content img:hover, .clients-content img:focus {
  filter: none;
}

@media screen and (width < 1000px){
  .wrapper {
    height: calc(100svh - var(--hero-margin));
  }
  
  .btns-wrapper {
    width: 100%;
    height: 40px;
    top: calc(100% - 1em);
    writing-mode: vertical-lr;
  }
  .btns-wrapper .left {
    clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0 100%, 0 0);
  }
  .btns-wrapper .right {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 50%);
  }
  .project {
    width: 100%;
    clip-path: polygon(47% 0, 51% 0, 100% 4%, 100% 100%, 0 99%, 0 3%);
  }
  .project:not(:nth-child(1)) {
    transform: translateY(100%);
  }
  .project-thumbnail {
    grid-column: 1 / -1;
  }
  .project-details {
    grid-column: 1 / -1;
  }
}