
#root {
  margin: 0 auto;
  text-align: center;
}
/* nav bar style --------------------------- */
.nav-bar {
  text-align: justify;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--background-color) ;
  box-shadow: 0px .5em .5em -.5em;
  z-index: 999;
  padding: .5rem 0;
}
/* first bar */
.bar1 {
  border-bottom: 1px solid;
}
.bar1 p {
  max-width: 1000px;
  padding: .5rem;
  display: flex;
  margin: 0 auto;
  gap: 10px;
  font-size: 12px;
}
.bar1 a {
  text-decoration: none;
  color: inherit;
}
/* second bar */
.bar2 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 0 auto;
  max-width: 1000px;
}
.bar2 .bar2-left {
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 5em;
  padding: .5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 .1em var(--color-scheme));
}
.menu-btn {
  margin-right: 1em;
  border: transparent;
  border-radius: var(--raduis);
  display: none;
  padding: var(--s-gap);
  align-items: center;
  align-self: center;
  cursor: pointer;
  background: var(--background-color);
}
.menu-btn:hover, .menu-btn:focus {
  transition: all 200ms;
  box-shadow: inset 0 0 .4rem var(--accent);
}
/* first ul in the bar2 */
.menu {
  justify-self: end;
  align-self: center;
  display: flex;
  padding: 0;
  gap: var(--l-gap);
}
.link-container {
  --under-line: transparent;
  padding: 0;
  position: relative;
  align-self: end;
  transition: all 1s;
}
.menu-link {
  border-bottom: 3px solid;
  display: flex;
  border-color: var(--under-line);
  transition: all 300ms;
}
/* li has ul as nested menu */
.nested-menu {
  display: none;
  opacity: 0;
  position: absolute;
  flex-direction: column;
  padding: 0;
  top: calc(100% - 1px);
  width: 150px;
  background: var(--background-color);
  border-color: var(--under-line);
  font-size: 13px;
}
.nested-menu .link-container {
  align-self: start;
  width: 100%;
}
.nested-menu .menu-link {
  padding: var(--s-gap);
}
.bar2 .link-container:hover, .bar2 .link-container:focus {
  --under-line : var(--accent)
}
.link-container:hover .nested-menu, .link-container:focus .nested-menu {
  display: -webkit-flex;
  transition: opacity 2s, display 2s;
  opacity: 1;
  flex-direction: column;
  gap: var(--s-gap);
}

/* hero section style ----------------------------------- */
.hero {
  position: fixed;
  isolation: isolate;
  z-index: -1;
  top: var(--hero-margin);
  left: 0;
  width: 100svw;
  height: calc(100svh - var(--hero-margin));
  background-image: conic-gradient(from 50deg at 50% 50%, yellow 29%, orange 6%, green 65%) ;
}

.hero .btn {
  position: absolute;
  height: 50px;
  opacity: .5;
  background: transparent;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  outline: 1px solid var(--color-scheme);
  border: none;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: opacity 300ms;
  cursor: pointer;
}
.hero .right {
  right: 20px;
}
.hero .left {
  left: 20px;
}
.hero .btn:hover, .hero .btn:focus {
  opacity: 1;
}
.media-container {
  position: absolute;
  display: grid;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  z-index: -1;
  perspective: 600px;
}
.media-container span {
  display: block;
  background: var(--hero-background);
  box-shadow: var(--box-shadow);
  animation: press 2s infinite alternate;
  transform: rotate(4deg);
}


@keyframes press {
  to {
    transform:translate3d(0px,0px,-5px);
  }
  
}
.carousel {
  position: relative;
  width: 75%;
  height: 90%;
  margin-inline: auto;
  overflow: hidden;
  
}
.slides {
  height: 100%;
  display: flex;
  color: aliceblue;
  transition: transform 0.5s;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: var(--s-gap);
}
.slide:nth-child(even) {
  flex-direction: row-reverse;
}
.slide:nth-child(odd) :nth-child(even) {
  background: var(--hero-background);
  border-radius: 20% 77% 23% 80% / 83% 17% 74% 26%;
}
.slide:nth-child(even) :nth-child(even):not(img) {
  background: var(--hero-background);
  border-radius:  20% 77% 23% 80% / 83% 17% 74% 26%;
}
.col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: var(--l-gap);
  line-height: 2.3rem;
  text-align: left;
  font-size: 1.2em;
  padding: var(--xl-gap);
  overflow: hidden;
  height: 100%;
}
.col.content {
  text-align: center;
}

.col h3 {
  font-size: 1.5em;
}
.col.logo img{
  scale: 1.5;
}
.pie {
  --share1: #0de982 ;
  --share2: #fcd915fd;
  --share3: #bb0dbb;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(var(--share1) 32deg, var(--share2) 32deg 122deg, var(--share3) 122deg 360deg);
}
.map {
  position: relative;
  background-image: url('./assets/imgs/hero/waves.png');
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode:hard-light;
  scale: 1.5;
  
}
.map :nth-child(1) {
  width: 100%;
  height: 100%;
  
}
.map .point {
  padding: 0;
  position: absolute;
  display: grid;
  width:3%;
  background: none;
  top: 0;
  left: 50%;
  scale: 1.5;
}
/* alex */
.map .point:nth-child(2) {
  transform: translate(70%,200%);
}
/* domyat */
.map .point:nth-child(3) {
  transform: translate(180%,200%);
}
/* musrata */
.map .point:nth-child(4) {
  transform: translate(-200%,200%);
}
/* elkhoums */
.map .point:nth-child(5) {
  transform: translate(-150%,210%);
}
/* suez */
.map .point:nth-child(6) {
  transform: translate(210%,230%);
}
/* taba */
.map .point:nth-child(7) {
  transform: translate(270%,230%);
}
/* adabia */
.map .point:nth-child(8) {
  transform: translate(220%,250%);
}
/* safaga */
.map .point:nth-child(9) {
  transform: translate(250%,300%);
}
/* hurghada */
.map .point:nth-child(10) {
  transform: translate(270%,330%);
}
/* sudan */
.map .point:nth-child(11) {
  transform: translate(330%,430%);
}
/* tripoli */
.map .point:nth-child(12) {
  transform: translate(300%,130%);
}
/* home container style --------------------------------- */
.container {
  padding-top: var(--hero-margin);
  max-width: 1280px;
  margin-inline: auto ;
  margin-block: 0;
}
.sec-title {
  font-size: 2rem;
  position: relative;
  padding-bottom: 2rem;
}
.sec-title::after, .sec-title::before {
  display: block;
  content: "";
  width: 40%;
  height: 15px;
  background: var(--accent);
  position: absolute;
  background: linear-gradient(to var(--direction, left), var(--accent), transparent);
  top: calc(50% - 1rem);
  transform: translateY(-50%);
}
.sec-title::before {
  right:0;
  --direction: right;
}
.services {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, minmax(275px, 1fr));
  padding: .5rem;
}
.service {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  border: 1px solid;
  padding: 1rem;
  border-radius:  18% 78% 22% 82% / 78% 22% 83% 17% ;
}
.service .description {
  padding: 1rem;
  align-self:stretch;
  line-height: 2rem;
}
.service-content h3 {
  align-self: center;
}
.service img{
  align-self: baseline;
  width: 100%;
  object-fit: contain;
}
.service:hover img {
  transform: rotateY(0deg);
}
/* products section style -------------------------------*/
.products-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(275px, 1fr));
  padding: 0 1rem 2rem; 
}
.product-card {
  margin: 0;
  padding: 1rem;
  float: right;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--l-gap);
  position: relative;
  overflow: hidden;
  perspective: 300px;
  transform-origin: top left;
}
.product-card:nth-child(even) {
  border-left: 1px solid;
  border-right: 1px solid;
}
.product-card a {
  grid-column: 1 / -1;
  outline: 1px solid;
  position: relative;
  align-content: center;
  justify-self: center;
  padding: .5rem 1rem;
  
}
.product-card a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: var(--accent);
  z-index: -1;
  transition: width 300ms;
}
.product-card a:hover  {
  color: var(--background-color);
}
.product-card a:hover::after {
  width: 100%;
}
.product-card .product-img {
  height: 200px;
}
.product-card .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: top left;
  transition: all 1s;
}
.product-card:hover img {
  transform: translateX(-115%);
  width: 30%;
  height: 30%;
}
.product-card .product-description {
  position: absolute;
  max-height: 80%;
  font-size: .8em;
  padding: 1rem;
  inset: 0;
  transform: translate(100%,100%);
  text-align: justify;
  transition: all 1s;
}
.product-card .shape {
  width: 30%;
  height: 32%;
  float: left;
  shape-margin: 1rem;
}
.product-card:hover .product-description {
  transform: translateX(0%);
}
/* projects style */


/* clients section style */
.clients {
  padding: 4rem 0;
  background-color: var(--background-color);
}
.clients-content {
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
  gap: 20px;
  padding: 1rem;
}
.clients-content img {
  width: 100px;
  object-fit: cover;
  border-radius: 10%;
  scale: .9;
}
/* footer style */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 2rem 1rem;
  gap: 1rem;
  font-size: .9em;
}
.footer h2 {
  font-size: 1.6em;
  position: relative;
  cursor: pointer;
}
.footer .column h2::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 3px;
  background: var(--accent);
  left: 0;
  bottom: 0;
  transition: width 300ms;
}
/* project container which is ul---*/

/* is -il- in the container */
.country {
  overflow: auto;
  height: 500px;
}
.country h3 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1rem;
}
.locations {
  display: flex;
  gap: 1rem;
  overflow-y: hidden;
  padding: 1rem
}
/* this the li of the locations */
.location {
  position: relative;
  min-width: 250px;
  max-width: 250px;
  height: 350px;
}
.location h6 {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3em;
}
.location img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 50%;
}
.location .location-overview{
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: calc(100% + 1rem);
  text-align: justify;
  padding: .5rem;
  height: 100%;
  transition: top 1s;
}
.location-overview a {
  align-content: end;
}
.location:hover .location-overview, .location:focus .location-overview{
  top: 0;
}

/* footer style */
.footer .column>h2:hover::before {
  width: 40%;
}
.footer ul {
  padding: 0;
  margin: 0;
}
.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: .5rem;
  gap: .5rem;
}
.copy {
  grid-column: 1 / -1;
  border-top: 1px solid;
  padding-top: 1rem;
  font-size: .8em;
  border-color: var(--accent);
}
/* breakPoints----------------------------------- */

@media screen and (max-width: 767px) {
  .nav-bar {
    box-shadow: none;
  }
  .bar2 {
    grid-template-columns: auto;
  }
  .menu-btn {
    display: flex;
    fill: var(--accent);
    filter: drop-shadow(0 0 .3rem var(--accent));
  }
  .menu {
    justify-self: start;
    display: block;
    margin-top: 0;
    background: var(--background-color);
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 100%;
    transform: translateY(-400%);
    transition: transform 1s;
  }
  .menu-link {
    padding: 1rem;
    border-bottom: none;
  }
  .nested-menu {
    position: relative;
    margin-left: 1.5rem;
    min-width: 100%;
    border: none;
    
  }
  .nested-menu::before {
    content: "";
    position: absolute;
    left: -3px;
    bottom: 15px;
    width: 2px;
    height: 100%;
    background: var(--accent);
  }
  .nested-menu .link-container::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 2px;
    background: var(--accent);
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
  }
  .grap-down {
    transition: transform 1s;
    transform: translateY(0);
  }
  .hero .btn {
    transform: translateY(-120%);
  }
  .media-container {
    width: 100%;
  }
  .slides {
    width: 100%;
    height: 100%;
  }
  .slide {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }
  .col {
    margin-inline: 0;
  }
  .slide:nth-child(even) {
    flex-direction:column;
  }



  .sec-title {
    font-size: 1rem;
  }
  .sec-title::after, .sec-title::before {
    width: 30%;
    height: 10px;
  }
  .services {
    grid-template-columns: 1fr;
  }
  .service {
    grid-template-columns: 1fr;
  }
  .products-content {
    grid-template-columns: 1fr;
  }

  .product-card:nth-child(2) {
    border-bottom: 1px solid;
    border-top: 1px solid ;
    border-left: none;
    border-right: none;
  }
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    
  }
}
