#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.nav-bar {
  text-align: justify;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--background-color);
  box-shadow: 0px .5em .5em -.5em ;
}
/* up bar */
.bar1 {
  font-size: 15px;
  border-bottom: 1px solid;
  max-width: 1400px;
  margin: 0 auto;
}
.bar1 p {
  padding: .5rem;
}
.bar1 a {
  text-decoration: none;
  color: inherit;
}
/* below bar */
.bar2 {
  display: grid;
  max-width: 1400px;
  grid-template-columns: auto 1fr auto;
  margin: 0 auto;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.logo {
  height: 5em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1.5em var(--dark-blue));
}
/* first ul in the bar2 */
.bar2 > ul {
  justify-self: end;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 2em;
  margin-right: 1em;
}
.bar2> ul li {
  --under-line: transparent;
  padding: 0;
  display: inherit;
  gap: 1em;
}

.bar2 > ul li a{
  border-bottom: 3px solid;
  display: flex;
  align-items: center;
  border-color: var(--under-line);
  transition: all 200ms;
  text-decoration: none;
  color: var(--color);
}
.bar2 > ul li:hover, .bar2 > ul li:focus {
  --under-line : var(--yellow)
}
/* first li in the first ul has nested menu */
.nested-menu {
  align-items: center;
  border-bottom: 3px solid ;
  border-color: var(--under-line);
  transition: all .3s;
  cursor: pointer;
}
.menu-btn {
  margin-right: 1em;
  outline: transparent;
  border: transparent;
  display: flex;
  padding: .5rem;
  align-items: center;
  align-self: center;
  cursor: pointer;
  box-shadow: inset .0em .0em .3em .1em ;
}
.hide {
  display: none;
}
/* home container */
.home-container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
/* hero section */

.hero {
  overflow: hidden;
  position: sticky;
  /* filter: drop-shadow(0px 0px .5rem); */
  top: var(--offset-top, 130px);
  z-index: -1;
  height:calc(100svh - var(--offset-top, 130px));
  display: grid;
  place-items: center;
  background: radial-gradient(circle at 50% 50%, #5cabff, #f6f7f8);
}
/* style the core of gear */
.hero-center {
  width: 100%;
  max-width: 800px;
  height: 100%;
  position: relative;
}


.hero-item {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  overflow: hidden;
  animation: translateY 30s infinite linear;
}
.hero-center h1 {
  position: absolute;
  font-size: 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: navajowhite;
  animation: loop 29s infinite linear;
  opacity: 0;
}
.map_top {
  top: 100%;
}
.pie_right{
  top: 200%;
}
.trainer_left {
  top: 300%;
}
.integration_bottom {
  top: 400%;
}
._background {
  position: absolute;
  max-width: 500px;
  min-height: 280px;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
@keyframes loop {
  0% {
    opacity: .5;
  }
  5%{
    opacity: 1;
  }
  10%,15% {
    opacity: .5;
  }
  20% {
    opacity: 0;
  } 
}
@keyframes rotate360 {
  0%{
    transform:  rotate(0deg);
  }25%{
    transform: rotate(90deg);
    /* transform: translateY(100%) ; */
  }50%{
    transform: rotate(180deg);
    /* transform: translateY(100%) ; */
  }75%{
    transform: rotate(270deg);
    /* transform: translateY(100%) ; */
  }100%{
    transform: rotate(360deg);
    /* transform: translateY(100%) ; */
  }
}
@keyframes translateY {
  to {
    transform: translateY(-500%);
  }
}
.nav-link{
  text-decoration: none;
  font-size: 22px;
  /* font-weight: bold; */
  background-color: var(--background-color);
  box-shadow:inset var(--box-shadow);
  padding: .5rem;
  color: var(--color);
}
.services-container{
  padding: 4rem 0;
  background: var(--background-color);
}
.sec-title {
  font-size: 2rem;
  position: relative;
  margin-bottom: 3rem;
}
.sec-title::after, .sec-title::before {
  display: block;
  content: "";
  width: 40%;
  height: 15px;
  background: var(--yellow);
  position: absolute;
  background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
  top: 50%;
  transform: translateY(-50%);
}
.sec-title::before {
  right:0;
  --direction: right;
}
.services {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}
.service {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  outline: 1px solid;
  
}
.service-content {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  
}
.service-content h3 {
  align-self: center;
}
.service img{
  aspect-ratio: 1;
  width: 100%;
}
.service_overlay {
  background: #ffc60032;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
}
.service:hover .service_overlay {
  transform: scaleY(100%);
}
.products {
  padding: 4rem 0;
  background-color: var(--background-color);
}
.products-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.product-card {
  border-left: 1px solid;
  padding: 1rem;
  /* box-shadow: inset var(--box-shadow);
  border-radius: var(--border-raduis); */
  cursor: pointer;
  transition: filter .25s;
}
.product-card:first-child {
  border: none;
}
.product-card:hover {
  filter: grayscale();
}
.clients {
  padding: 4rem 0;
  background-color: var(--background-color);
}
.clients-content {
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
  gap: 20px;
  padding: 1rem;
}
.clients-content img {
  max-width: 150px;
  object-fit: cover;
  outline: 1px solid;
  border-radius: 10%;
  scale: .9;
}


@media screen and (max-width: 767px) {
  .nav-bar {
    padding: 10px ;
  }
  .bar2 {
    grid-template-columns: auto;
  }
  .bar2 > div {
    display: flex;
    justify-content: space-between;
  }
  .bar2 > ul {
    justify-self: start;
    display: none;
  }
  .menu-btn {
    display: block;
  }
  
  
}
