@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&display=swap');
:root {
  font-family: 'Hanken Grotesk', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* color-scheme: ; */
  --logo-blue: hsl(210, 94%, 26%);
  --middle-blue: hsl(210, 95%, 15%);
  --mate-blue: hsl(208, 37%, 20%);
  --dark-blue: hsl(209, 100%, 5%);
  --yellow: #ffd945;
  /* global vars */
  --s-space: 1rem;
  --m-space: 1.5rem;
  --raduis: 15px;
}
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
*, ::before, ::after {
  outline: 1px solid;
  box-sizing: border-box;
}
body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--logo-blue);
}
/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (prefers-color-scheme: light) {
  :root {
    color: var(--mate-blue);
    background-color: #ffffff;
  }
  a:hover {
    color: var(--logo-blue);
  }
  button {
    background-color: #f9f9f9;
  }
} 
